:root {
  tab-size: 4;
}

a,
button,
input,
select {
  &:focus {
    box-shadow: 0 0 0 3px var(--ring-color);
  }
}

select,
input {
  background-color: var(--bg);
  outline: none;
  box-shadow: none;
  border-radius: 0.25em;
  padding: 0.2em 0.45em;
  margin-left: 0.15em;
  margin-right: 0.15em;
}

button,
input[type="submit"] {
  background-color: var(--btn-color);
  color: var(--btn-txt-color);
  //   font-weight: bold;
  outline: none;
  border: solid 1px currentColor;
  margin-left: 0.15em;
  margin-right: 0.15em;
}
