span.refs {
  > span {
    padding: 0px 4px;
    font-size: 70%;
    // font-weight: normal;
    border: 1px solid;
    background-color: map-get($ref-colors, defaults);
    border-color: map-get($ref-colors, default-border);

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }

    &.indirect {
      font-style: italic;
    }

    &.ref {
      background-color: map-get($ref-colors, ref);
      border-color: map-get($ref-colors, ref-border);
    }

    &.tag {
      background-color: map-get($ref-colors, tag);
      border-color: map-get($ref-colors, tag-border);
    }

    &.head {
      background-color: map-get($ref-colors, head);
      border-color: map-get($ref-colors, head-border);
    }
  }
}
