@import-normalize;
@import "vars";

/* Basic styling */
body {
  font-family: $font-family;
  font-size: 1rem;
  background-color: map-get($base-colors, bg);
  color: map-get($base-colors, text-color);
  margin: 0 auto;

  // Fix margin for text els
  p,
  dl {
    margin: $margin-y $margin-x;
  }
}

.error {
  color: $err-text;
  background-color: $err-bg;
}

a {
  color: map-get($base-colors, link-color);

  &:hover {
    color: map-get($base-colors, link-active-color);
    text-decoration: underline;
  }
}

a:visited,
a:active {
  color: map-get($base-colors, link-active-color);
}

span.cntrl {
  border: dashed map-get($base-colors, cntrl-color);
  border-width: 1px;
  padding: 0px 2px 0px 2px;
  margin: 0px 2px 0px 2px;
}

img.logo {
  margin-right: 2.2rem;
  display: flex;
}

img.avatar {
  vertical-align: middle;
}

img.blob {
  max-height: 100%;
  max-width: 100%;
}

a.list img.avatar {
  border-style: none;
}

/* Page header */

div.page_header {
  min-height: 50px;
  padding: 15px;
  font-size: 150%;
  font-weight: bold;
  background-color: map-get($base-colors, header-color);
  line-height: 150%;
  display: flex;
  align-items: center;

  a:visited,
  a.header {
    color: map-get($base-colors, link-color);
  }

  a:hover {
    color: map-get($base-colors, link-active-color);
  }
}

/* Page nav */

div.page_nav {
  padding: 0.85rem 0.85rem 0.5rem 0;
  margin: 0 1.8rem;
  line-height: 1.5rem;

  a:visited {
    color: map-get($base-colors, link-color);
  }
}

div.page_path {
  padding: 8px;
  font-weight: bold;
  border: solid map-get($base-colors, header-color);
  border-width: 0px 0px 1px;
}

/* Footer */

div.page_footer {
  height: 22px;
  padding: 4px 8px;
  background-color: map-get($base-colors, header-color);
  // Note that margins will collapse
  margin-top: 2rem;
}

div.page_footer_text {
  line-height: 22px;
  float: left;
  color: map-get($base-colors, footer-text);
  font-style: italic;
}

div#generating_info {
  margin: 4px;
  font-size: smaller;
  text-align: center;
  color: map-get($base-colors, generating-info);
}

/*
*
* Page body
*
*/

div.page_body {
  padding: 8px;
  font-family: $monospace-font;
}

div.title,
a.title {
  display: block;
  padding: 6px 8px;
  font-weight: bold;
  background-color: map-get($base-colors, title-bar-color);
  text-decoration: none;
  color: map-get($base-colors, text-color);
  text-indent: $margin-x;
}

div.readme {
  padding: 8px;
}

a.title:hover {
  background-color: map-get($base-colors, header-color);
}

div.title_text {
  padding: 6px 0px;
  border: solid map-get($base-colors, header-color);
  border-width: 0px 0px 1px;
  font-family: $monospace-font;
}

div.log_body {
  padding: 8px 8px 8px 150px;
}

span.age {
  position: relative;
  float: left;
  width: 142px;
  font-style: italic;
}

span.signoff {
  color: $signoff-color;
}

div.log_link {
  padding: 0px 8px;
  font-size: 70%;
  //   font-family: sans-serif;
  font-style: normal;
  position: relative;
  float: left;
  width: 136px;
}

div.list_head {
  padding: 6px 8px 4px;
  border: solid map-get($base-colors, header-color);
  border-width: 1px 0px 0px;
  font-style: italic;
}

.author_date,
.author {
  font-style: italic;
}

div.author_date {
  padding: 8px;
  border: solid map-get($base-colors, header-color);
  border-width: 0px 0px 1px 0px;
}

a.list {
  text-decoration: none;
  color: map-get($base-colors, text-color);

  &:hover {
    text-decoration: underline;
    color: map-get($base-colors, link-active-color);
  }
}

a.subject,
a.name {
  font-weight: bold;
}

table.tags a.subject {
  font-weight: normal;
}

a.text {
  text-decoration: none;
  color: map-get($base-colors, link-color);

  &:visited {
    text-decoration: none;
    color: map-get($base-colors, link-active-color);
  }

  &:hover {
    text-decoration: underline;
    color: map-get($base-colors, link-active-color);
  }
}

/*
*
* Tables
*
*/

table {
  padding: 10px 6px;
  border-spacing: 0;
  margin: 0 auto;

  .diff_tree {
    font-family: $monospace-font;
  }

  .combined.diff_tree {
    th {
      text-align: center;
    }

    td {
      padding-right: 24px;
    }

    th.link,
    td.link {
      padding: 0px 2px;
    }

    td.nochange {
      a {
        color: map-get($diff-colors, diff-nochange);

        &:hover,
        &:visited {
          color: map-get($diff-colors, nochange-visited);
        }
      }
    }
  }

  &.blame {
    border-collapse: collapse;

    td {
      padding: 0px 5px;
      font-size: 100%;
      vertical-align: top;
    }
  }

  th {
    padding: 2px 5px 0.5rem 5px;
    font-size: 100%;
    text-align: left;
  }

  /* do not change row style on hover for 'blame' view */
  tr.light,
  &.blame .light:hover {
    background-color: $table-light;
  }

  tr.dark,
  &.blame .dark:hover {
    background-color: $table-dark;
  }

  tr {
    &.light:hover,
    &.dark:hover {
      /* currently both use the same, but it can change */
      background-color: $table-hover;
    }

    &.boundary td.sha1,
    &.no-previous td.linenr {
      /* boundary commits in 'blame' view */
      /* and commits without "previous" */
      font-weight: bold;
    }

    &.color1 {
      /* for 'blame_incremental', during processing */
      background-color: map-get($blame-colors, 1);
    }
    &.color2 {
      background-color: map-get($blame-colors, 2);
    }
    &.color3 {
      background-color: map-get($blame-colors, 3);
    }
  }

  td {
    padding: 5px 12px;
    font-size: 100%;
    vertical-align: top;

    .link,
    .selflink {
      font-size: 80%;
    }

    .selflink {
      padding-right: 0px;
    }

    .sha1 {
      font-family: $monospace-font;
    }
  }

  .current_head {
    text-decoration: underline;
  }

  .category {
    background-color: map-get($base-colors, header-color);
    border-top: 1px solid $table-border;
    border-left: 1px solid $table-border;
    font-weight: bold;
  }

  .diff_tree span.file_status.new {
    color: map-get($diff-tree-colors, status_new);
  }

  .diff_tree span.file_status.deleted {
    color: map-get($diff-tree-colors, status_deleted);
  }

  .diff_tree span.file_status.moved,
  .diff_tree span.file_status.mode_chnge {
    color: map-get($diff-tree-colors, status_copied);
  }

  .diff_tree span.file_status.copied {
    color: map-get($diff-tree-colors, status_moved);
  }

  .project_list,
  &.blame {
    td.noage {
      /* noage: "No commits" */
      color: map-get($commit-age-colors, noage);
      font-style: italic;
    }

    td.age1 {
      /* age1: 60*60*2 <= age < 60*60*24*2 */
      color: map-get($commit-age-colors, age0-1);
      font-style: italic;
    }

    td.age2 {
      /* age2: 60*60*24*2 <= age */
      font-style: italic;
    }

    td.age0 {
      /* age0: age < 60*60*2 */
      color: map-get($commit-age-colors, age0-1);
      font-style: italic;
      font-weight: bold;
    }
  }

  /* format of (optional) objects size in 'tree' view */
  td.size {
    font-family: $monospace-font;
    text-align: right;
  }
  td.mode {
    font-family: $monospace-font;
  }
}

td.pre,
div.pre,
div.diff {
  font-family: $monospace-font;
  font-size: 1rem;
  white-space: pre;
}

/* progress of blame_interactive */
div#progress_bar {
  height: 2px;
  margin-bottom: -2px;
  background-color: $progress-bar-color;
}
div#progress_info {
  float: right;
  text-align: right;
}

/* styling of diffs (patchsets): commitdiff and blobdiff views */
div.diff {
  // margin-left: $margin-x;

  &.header {
    font-weight: bold;

    background-color: map-get($base-colors, title-bar-color);

    margin: 4px 0 0 0;
    padding: 4px 0px 2px 0px;
    border: solid map-get($base-colors, header-color);
    border-width: 1px 0px 1px 0px;

    white-space: normal;

    a.path {
      text-decoration: underline;
    }
  }

  &.extended_header {
    background-color: map-get($diff-extended-header-colors, header);
    padding: 2px 0px 2px 0px;
    margin: 0;

    white-space: normal;

    a.path,
    a.hash {
      color: map-get($diff-extended-header-colors, hash);
    }

    &.info {
      color: map-get($diff-extended-header-colors, info);
    }
  }

  a.list,
  a.path,
  a.hash {
    text-decoration: none;
  }

  a.list:hover,
  a.path:hover,
  a.hash:hover {
    text-decoration: underline;
  }

  &.to_file a.path,
  &.to_file {
    color: map-get($diff-colors, to-file);
  }

  &.add {
    color: map-get($diff-colors, diff-add);
  }

  &.add span.marked {
    background-color: map-get($diff-colors, diff-add-marked);
  }

  &.from_file a.path,
  &.from_file {
    color: map-get($diff-colors, diff-from-file);
  }

  &.rem {
    color: map-get($diff-colors, diff-rm);
  }

  &.rem span.marked {
    background-color: map-get($diff-colors, diff-rm-marked);
  }

  &.chunk_header a,
  &.chunk_header {
    color: map-get($diff-colors, chunk-header);
  }

  &.chunk_header {
    border: dotted map-get($diff-colors, chunk-header-border);
    border-width: 1px 0px 0px 0px;
    margin-top: 2px;
  }

  &.chunk_header span.chunk_info {
    background-color: map-get($diff-colors, chunk-header-info);
  }

  &.chunk_header span.section {
    color: map-get($diff-colors, chunk-header-section);
  }

  &.incomplete {
    color: map-get($diff-colors, incomplete);
  }

  &.nodifferences {
    font-weight: bold;
    color: map-get($diff-colors, nodifference);
  }
}

/* side-by-side diff */
div.chunk_block {
  overflow: hidden;

  div.old {
    float: left;
    width: 50%;
    overflow: hidden;
  }

  div.new {
    margin-left: 50%;
    width: 50%;
  }

  &.rem div.old div.diff.rem {
    background-color: map-get($diff-chunk-colors, rm);
  }
  &.add div.new div.diff.add {
    background-color: map-get($diff-chunk-colors, "add");
  }
  &.chg div div.diff {
    background-color: map-get($diff-chunk-colors, change);
  }
  &.ctx div div.diff.ctx {
    color: map-get($diff-chunk-colors, ctx);
  }
}

div.index_include {
  border: solid map-get($base-colors, header-color);
  border-width: 0px 0px 1px;
  padding: 12px 8px;
}

div.search {
  margin: 4px $margin-x;
  float: right;
  padding: 0.85rem 0.85rem 0.5rem 0px;

  input[type="checkbox"] {
    margin: 0 0.2rem;
  }
}

div.projsearch {
  text-align: center;
  margin: 20px 0px;

  form {
    margin-bottom: 2px;

    input[type="checkbox"] {
      margin: 0 0.2rem;
    }
  }
}

td.linenr {
  text-align: right;
}

a.linenr {
  color: $line-nr-color;
  text-decoration: none;
}

/* RSS logo */
a {
  &.rss_logo {
    float: right;
    padding: 3px 5px;
    line-height: 10px;
    border: 1px solid;
    border-color: map-get($rss-colors, rss-border);
    color: map-get($rss-colors, rss-text);
    background-color: map-get($rss-colors, rss-logo);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 70%;
    text-align: center;
    text-decoration: none;
  }

  &.rss_logo:hover {
    background-color: map-get($rss-colors, rss-hover);
  }

  &.rss_logo.generic {
    background-color: map-get($rss-colors, rss-generic);
  }

  &.rss_logo.generic:hover {
    background-color: map-get($rss-colors, rss-generic-hover);
  }
}

span.refs {
  > span {
    padding: 0px 4px;
    font-size: 70%;
    // font-weight: normal;
    border: 1px solid;
    background-color: map-get($ref-colors, defaults);
    border-color: map-get($ref-colors, default-border);

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }

    &.indirect {
      font-style: italic;
    }

    &.ref {
      background-color: map-get($ref-colors, ref);
      border-color: map-get($ref-colors, ref-border);
    }

    &.tag {
      background-color: map-get($ref-colors, tag);
      border-color: map-get($ref-colors, tag-border);
    }

    &.head {
      background-color: map-get($ref-colors, head);
      border-color: map-get($ref-colors, head-border);
    }
  }

  &.atnight {
    color: $timestamp-atnight;
  }

  &.match {
    color: $timestamp-match;
  }
}

div.binary {
  font-style: italic;
}

div.remote {
  margin: 0.5rem $margin-x;
  border: 1px solid map-get($base-colors, header-color);
  display: inline-block;
}

/* JavaScript-based timezone manipulation */

.popup {
  /* timezone selection UI */
  position: absolute;
  /* "top: 0; right: 0;" would be better, if not for bugs in browsers */
  top: 0;
  left: 0;
  min-width: 150px;
  border: 1.5px solid;
  padding: 12px 4px 4px;
  background-color: map-get($base-colors, title-bar-color);
  //   font-style: normal;
  cursor: auto;

  select {
    width: 100%;
  }

  .close-button {
    /* close timezone selection UI without selecting */
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1.5px solid black;
    border-right: 0;
    border-top: 0;
    width: 16px;
    height: 14px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    background-color: #fd8282;
    cursor: pointer;
    line-height: 120%;
    margin: 0;
  }
}

@import "highlighting";
