@use "sass:color" as c;

/*
coolors:
--------

--rich-black-fogra-39: #0c120cff;
--venetian-red: #c20114ff;
--sonic-silver: #6d7275ff;
--light-gray: #c7d6d5ff;
--magnolia: #ecebf3ff;
*/

$btn-color: #C20114;
$btn-hover-color: c.adjust($btn-color, $lightness: 5%);

:root {
  --link: blue;
  --text: #0C120C;
  --text-muted: #6D7275;
  --bg: white;

  --font-monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
    Courier, monospace;

  /* Tables */
  // tbl-a == tabs
  --tbl-a-color: rgb(66, 62, 62);
  --tbl-highlight-even: #ECEBF3aa;
  --tbl-highlight-odd: #fff;
  --tbl-hover: #eee;
  --th-padding: 0.4em 0.5em 0.25em 1em;
  --td-padding: 0.4em 0.5em 0.4em 1em;

  --btn-color: #{$btn-color};
  --btn-color-hover: #{$btn-hover-color};
  --btn-txt-color: #fff;
  --ring-color: #{rgba($btn-hover-color, .4)};

  --border-color: #C7D6D5;

  // Hacky way to set the ref padding universally
  --ref-padding: 0.05em 0.5em;

  // Path breadcrumb
  --text-bg: var(--bg);

  // Header padding
  --header-padding: .75em;
}
